* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  left: 0;
  top: 0;
  width: 100%;
  height: 600px;
  background: linear-gradient(to bottom, #0469c7, #cfe8ff);
}
.moon {
  position: fixed;
  top: 3%;
  left: 2%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffdb59;
  box-shadow: 0px 0px 30px 3px rgb(255, 245, 64, 1);
}
.w {
  position: fixed;
  left: 40%;
  top: 30%;
  font-family: 標楷體;
  font-size: 60px;
  font-weight: 800;
  letter-spacing: 20px;
  line-height: 100px;
  color: #fffacf;
  text-shadow: rgb(255, 255, 255) 0px 0px 10px;
}
.floor {
  position: fixed;
  top: 86%;
  width: 100%;
  height: 100px;
  background-color: #00943b;
}
.cloude {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #d4d4d4;
  border-radius: 50px;
}
.a {
  position: absolute;
  top: 30px;
  left: 200px;
}
.b {
  position: absolute;
  top: 25px;
  left: 225px;
}
.c {
  position: absolute;
  top: 25px;
  left: 250px;
}
.d {
  position: absolute;
  top: 35px;
  left: 225px;
}
.e {
  position: absolute;
  top: 35px;
  left: 250px;
}
.f {
  top: 30px;
  left: 300px;
}
.g {
  position: absolute;
  top: 25px;
  left: 275px;
}
.h {
  position: absolute;
  top: 35px;
  left: 275px;
}
.first {
  position: fixed;
  top: 5%;
  left: -125px;
}
.second {
  position: fixed;
  top: 4%;
  left: 451px;
}
.third {
  position: fixed;
  top: 5%;
  left: 200px;
}
.fourth {
  position: fixed;
  top: 5%;
  left: 720px;
}
.bottom {
  content: "";
  position: fixed;
  width: 100px;
  height: 20px;
  background-color: #e6a263;
  border-radius: 50px;
  top: 515px;
  margin-left: 44px;
  box-shadow: inset 30px 0 20px rgba(225, 246, 222, 0.1);
  z-index: 4;
}
.box {
  content: "";
  position: fixed;
  width: 80px;
  height: 25px;
  background-color: #ed7e00;
  border-radius: 7px;
  margin-top: 494px;
  margin-left: 53.5px;
  box-shadow: inset 30px 0 20px rgba(225, 246, 222, 0.1);
  z-index: 2;
}
.step {
  content: "";
  position: fixed;
  width: 20px;
  height: 78px;
  border-radius: 5px 5px 10px 10px;
  -moz-border-radius: 5px 5px 10px 10px;
  -webkit-border-radius: 5px 5px 10px 10px;
  margin-top: 423px;
  margin-left: 83px;
  background: linear-gradient(to right, #b8cfff 40%, #819acc 60%);
  z-index: 1;
}
.pole {
  content: "";
  position: fixed;
  width: 10px;
  height: 195px;
  background-color: #5d6396;
  border-radius: 10px;
  margin-top: 250px;
  margin-left: 88.2px;
}
.box2 {
  content: "";
  position: fixed;
  width: 30px;
  height: 18px;
  background-color: #ed7e00;
  border-radius: 7px;
  margin-top: 285px;
  margin-left: 78px;
  box-shadow: inset 30px 0 20px rgba(225, 246, 222, 0.1);
  z-index: 2;
}
.egg {
  content: "";
  position: fixed;
  width: 26px;
  height: 36px;
  background-color: #ed7e00;
  -webkit-border-radius: 20px 20px 20px 20px / 108px 108px 72px 72px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  margin-top: 220px;
  margin-left: 80px;
}
.benleft {
  content: "";
  position: fixed;
  width: 90px;
  height: 80px;
  border-radius: 50%;
  box-shadow: -20px -20px 0px 0px #5909b5;
  margin-top: 270px;
  margin-left: 30px;
  z-index: -1;
}
.benright {
  position: fixed;
  width: 90px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 20px -20px 0px 0px #5909b5;
  margin-top: 270px;
  margin-left: 65px;
  z-index: -1;
}
.hat {
  content: "";
  position: fixed;
  height: 20px;
  width: 40px;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  background-color: #5d6396;
  margin-top: 300px;
  margin-left: 37.5px;
}
.box3 {
  content: "";
  position: fixed;
  width: 48px;
  height: 12.5px;
  background-color: #b8cfff;
  border-radius: 20px;
  margin-top: 320px;
  margin-left: 33px;
  box-shadow: inset 30px 0 20px rgba(225, 246, 222, 0.1);
  z-index: 2;
}
.bulb {
  position: fixed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ffef9e;
  top: 320px;
  margin-left: 45px;
}
.left {
  position: fixed;
  margin-left: -36px;
}
.right {
  position: fixed;
  margin-left: 105px;
}
.light {
  position: absolute;
  top: 15%;
  left: 10%;
  transform: scale(0.9);
}